main article {
    width: 40vw;
    height: calc(100vh - 2.5em);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transform: translateX(100%);
    overflow-x: scroll;

    padding: 1.25em;

    background-color: var(--color-2);

    border-radius: 2em 0 0 2em;
    
    transition: all .4s ease-in-out;
}

main article > button {
    aspect-ratio: 1/1;
    height: 3.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-3);

    border: none;
    border-radius: .8em;

    cursor: pointer;
}

main article > button:hover {
    background-color: var(--color-5);

    transition: all .2s ease-in-out;
}

main article > button img {
    width: 40%;
}

main article > div {
    margin-top: 1.25em;
}

main article > div h2 {
    font-size: 2em;
    color: var(--color-3);
}

main article > div ul {
    margin-top: 1.25em;
}

main article > div ul li {
    list-style: none;
}

main article > div ul li h3 {
    font-size: 1.25em;
    line-height: 150%;
    color: var(--color-3);
}

main article > div ul li div h4 {
    margin-top: 1.25em;

    font-size: .875em;
    color: var(--color-5);
    text-decoration: underline;
}

main article > div ul li div img {
    width: 100%;
    height: 16em;
    object-fit: cover;

    margin-top: 1.25em;

    border-radius: 2em;
}

main article > div ul li div p {
    margin-top: 1.25em;

    font-size: .875em;
    line-height: 150%;
    color: var(--color-5);
}

main article.toggle-popup {
    transform: translateX(0%);
}